/* Scss Document */

/* FONTS */
$regular-888:'regular', sans-serif;


/* COLORS */
$black:#000000;
$white:#fff;
$orange:#ee4a1b;
$line-grey:#ececec;
$dark-grey:#cccccc;


/* Settings */
$border-radius:4px;


/* widths */
$mobile: 768;
$small: 900;
$medium: 1024;
$large: 1600;